<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <h2 class="text-align center">Fantasy Watch</h2>
    <form action="/" method="POST">
     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
         <div class="btn-group mr-2" role="group" aria-label="First group">
           <button type="button" class="btn btn-secondary"><a href="/players/new">QB</a></button>
           <button type="button" class="btn btn-secondary">RB</button>
           <button type="button" class="btn btn-secondary">WR</button>
           <button type="button" class="btn btn-secondary">WR</button>
           <button type="button" class="btn btn-secondary">TE</button>
           <button type="button" class="btn btn-secondary">FLX</button>
           <button type="button" class="btn btn-secondary">D/ST</button>
           <button type="button" class="btn btn-secondary">K</button>
         </div>
         <h1>Players</h1>
         
</body>
</html>